* {
  box-sizing: border-box;
}

header {
  background-color: black;
  width: 100%;
  height: 50%;
}

.imagen {
  width: 640px;
  height: 433px;
  display: flex;
  justify-content: center;
  float: right;
}

.titulo {
  width: 600px;
  height: 50px;
  font-size:230%;
}

.texto1 {
  width: 620px;
  height: 115px;
  font-size:183%;
  font: oblique bold 120% cursive;
}

.texto2 {
  width: 620px;
  height: 227px;
  font: 125% sans-serif;
  margin-top: 4%;
}

.articulo {
  width: 630px;
  height: 364px;
}

footer {
  margin-top: 2%;
  height: 140px;
  font: 130% sans-serif;
  line-height: 150%;
}



